<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebAuthn Example</title>
  <script src="https://unpkg.com/@simplewebauthn/browser/dist/bundle/index.es5.umd.min.js"></script>
</head>
<body>
  <div style="display: flex; height: 100vh; justify-content: center; align-items: center;">
    <button onclick="registerPasskey()" style="margin-right: 4px;">Register</button>
    <button onclick="authenticatePasskey()">Login</button>
  </div>
  <script>
    const { startRegistration, startAuthentication } = SimpleWebAuthnBrowser;

    async function registerPasskey() {
      try {
        const registrationOptions = await fetch('/generate-registration-options', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ username:"test" }),
        }).then((res) => res.json());
        console.log("registrationOptions",registrationOptions.options);
        
        const attestationResponse = await startRegistration({ optionsJSON: registrationOptions.options });

        const verification = await fetch('/verify-register', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ ...attestationResponse, username:"test" }),
        }).then((res) => res.json());

        console.log('Registration result:', verification);
      } catch (error) {
        alert(error)
        console.error('Error during register:', error);
      }
    }

    async function authenticatePasskey() {
      try {
        const authenticationOptions = await fetch('/generate-login-options', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ username:"test" }),
        }).then((res) => res.json());
        
        console.log(authenticationOptions);
        const assertionResponse = await SimpleWebAuthnBrowser.startAuthentication({
          optionsJSON: authenticationOptions,
        });
        console.log(assertionResponse);

        const verification = await fetch('/verify-authentication', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ ...assertionResponse, username:"test" }),
        }).then((res) => res.json());
        
        console.log('Login result:', verification);
      } catch (error) {
        alert(error)
        console.error('Error during login:', error);
      }
    }
  </script>
</body>
</html>
